:root {
    --background-dark: rgba(0, 0, 0, 0.8);
    --text-color: #fff;
    --text-color-hover: #bbb;
    --menu-padding: 10px 40px;
    --font-primary: 'Arial', sans-serif;
    --background-image-url: url('../images/Fundo.png');
    --promo-text-color: #BDBCBC;
    --search-input-padding: 8px;
    --search-input-border-radius: 5px;
    --logo-size: 3rem;
    --header-padding: 1rem;
    --logo-border-radius: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: var(--font-primary);
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: var(--background-image-url);
    background-size: cover;
    z-index: -1;
}

header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.menu-container, .nav-bar {
    position: absolute;
    left: var(--header-padding);
    right: var(--header-padding);
    top: var(--header-padding);
    background: var(--background-dark);
    border-radius: 5px;
    padding: var(--menu-padding);
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    margin: 0;
}

.nav-item {
    margin-right: 20px;
    color: var(--text-color);
    cursor: pointer;
}

.nav-item:hover {
    color: var(--text-color-hover);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

.search-container {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-input {
    padding: var(--search-input-padding);
    border-radius: var(--search-input-border-radius);
    border: none;
    transition: all 0.5s;
}

.search-input:not(:placeholder-shown) + .search-icon {
    display: none;
}

.search-icon {
    cursor: pointer;
}

.logo-container, .site-logo {
    height: var(--logo-size);
    position: absolute;
    left: var(--header-padding);
    top: var(--header-padding);
    border-radius: var(--logo-border-radius);
    transition: all 0.5s;
}

.promo-card {
    position: absolute;
    text-align: center;
    color: var(--promo-text-color);
    padding: 250px;
}
  
.promo-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 20px;
}
  
.promo-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    max-width: 100%;
}
  
.promo-text {
    font-size: 1.5rem;
    max-width: 100%;
    margin: auto;
}
