body {
    font-family: 'Arial', sans-serif;
    background-image: url(../images/Fundo.png);
    background-size: 1280px 832px;
    flex-shrink: 0;
    background-position: cover;
    background-repeat: no-repeat;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #BDBCBC;
    background: #1F1F1F;
    padding: 10px;
}

header {
    text-align: center;
    color: #1F1F1F;
}

button {
    background-color: #1F1F1F;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #BDBCBC;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #6F0000;
}
